@import "tailwindcss";
@config "../tailwind.config.js";
@import "../config.tailwind.css";

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}
