@import "tailwindcss";
@config "../tailwind.config.js";
@import "../config.tailwind.css";

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

html {
  min-height: 100vh;
  background: linear-gradient(to top, #682b1d, #07133b);
}

body {
  min-height: 100vh;
  background: transparent;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}
